#drone {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
body {
       background: rgb(25, 49, 180);
}
img{
    width: 60%;
    height: 40%;
}
.menù{
    border-collapse: collapse;
    border-style: ridge;
    float: left;
    width: 15%;
    background: rgb(185, 185, 190);
}
.link{
    border-collapse: collapse;
    border-style: solid;
    height: 40px;
    margin-top: 1%;
    padding-top: 6%;
    padding-left: 2%
}
.i{
    text-align: center;
    display: inline-block;
}
.m{
    padding-left: 5%;
    padding-top: 1%;
}
.png-table{
       
       margin-top: 5%;
       margin-left: 25%;
       border-collapse: collapse;
       border-style: ridge;
       width: 50%;
       height: 40%;
       background: rgb(185, 185, 190);
       
}
.st-table{
       margin-left: 25%;
       margin-top: 5%;
       border-collapse: collapse;
       border-style: ridge;
       width: 50%;
       background: rgb(185, 185, 190);
       color: blue;
}
.st-tr{
    margin-top: 1%;
    margin-left: 40%;
    margin-bottom: 2%;
}
.stanza{
    border-style: ridge;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 1%;
    background: rgb(0, 0, 0);
}
.elemento{
    width: 50%;
    float: left;
    color: aqua;
}
.valore{
    width: 40%;
    float: left;
    color: aquamarine;
}
.bottone{
    width: 10%;
    display: inline-block;
}
.oggetto{
    border-style: ridge;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    background: rgb(0, 0, 0);
}
.ogg1{
    width: 50%;
    float: left;
}
.ogg2{
    margin-left: 70%;
}
.connessione{
    border-style: ridge;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    background: rgb(0, 0, 0);
}
.conn1{
    width: 50%;
    float: left;

}
.conn2{
    margin-left: 70%;
}
.batteria{
    border-style: ridge;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    background: rgb(0, 0, 0);
}
.batt1{
    width: 50%;
    float: left;

}
.batt2{
    margin-left: 70%;
}